schemas/purchase_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="http://example.com/purchase-order"
           xmlns="http://example.com/purchase-order"
           elementFormDefault="qualified">

    <xs:element name="purchaseOrder" type="PurchaseOrderType"/>
    
    <xs:complexType name="PurchaseOrderType">
        <xs:sequence>
            <xs:element name="orderNumber" type="xs:string"/>
            <xs:element name="orderDate" type="xs:date"/>
            <xs:element name="shipTo" type="AddressType"/>
            <xs:element name="billTo" type="AddressType"/>
            <xs:element name="items" type="ItemsType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zip" type="xs:decimal"/>
        </xs:sequence>
        <xs:attribute name="country" type="xs:NMTOKEN"/>
    </xs:complexType>
    
    <xs:complexType name="ItemsType">
        <xs:sequence>
            <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="productName" type="xs:string"/>
                        <xs:element name="quantity" type="xs:positiveInteger"/>
                        <xs:element name="price" type="xs:decimal"/>
                    </xs:sequence>
                    <xs:attribute name="partNum" type="SKU" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="SKU">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{3}-[A-Z]{2}-\d{4}"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>